</div>
</div>
</div>
<div class="col-sm-3">
    {{ widget .widgets "account" }}
    {{ widget .widgets "toplevel" }}
    {{ widget .widgets "admin" }}
</div>
<div class="clearfix"></div>
</div>


</div> <!-- /container -->

<div class="container" id="footer">
    <div class="footer">
        <h6>
            {{ if isDev }} <b>Development mode</b> |
            Page generated in {{ .microtime }} | {{ end }} {{ serverName }} - Engine by <a href="{{ url "subtopic" "credits" }}">Castro</a>
        </h6>
        {{ template "footer" . }}
    </div>
</div> <!-- /container -->

<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous">

</script>
<script src="/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
{{ template "scriptIncludes" . }}
</body>
</html>