<html>
    <head>
        <title>Castro - Installation</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="/images/favicon.ico">
    
        <link href='https://fonts.googleapis.com/css?family=Simonetta' rel='stylesheet' type='text/css'>
        <link href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
                <div class="titleheader">
                    <h1>
                        <a class="title" href="/">Castro</a>
                    </h1>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="container">
                <div class="box black-box">
                    <div class="clearfix"></div>
                </div>
                <div class="box pattern-box">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3>Installation wizard</h3>
                            <hr>
                            <p>
                                Castro is now installed. You can now restart Castro
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" id="footer">
                <div class="footer">
                    <h6>
                        Installation wizard - Engine by <a href="https://castroaac.org">Castro</a>
                    </h6>
                </div>
            </div>
        </div>
    </body>
</html>