{{ template "header.html" }}
<link href="/css/froala_editor.pkgd.min.css" rel="stylesheet">
<h3>New offer for: {{ .category.name }}</h3>
<hr>
{{ if .validationError }}
<div class="alert alert-danger" role="alert">
    <strong>Error!</strong> {{ .validationError }}
</div>
{{ end }}
<form enctype="multipart/form-data" method="post" action="{{ url "subtopic" "admin" "shop" "offer" "new" }}">
    <input type="hidden" name="_csrf" value="{{ .csrfToken }}">
    <input type="hidden" name="id" value="{{ .category.id }}">
    <div class="form-group">
        <label for="offer-name">Offer name</label>
        <input id="offer-name" class="form-control" type="text" name="offer-name" placeholder="Offer name">
    </div>
    <div class="form-group">
        <label for="article-text">Offer description</label>
        <textarea name="offer-description" rows="8" id="offer-text" class="form-control">{{ .description }}</textarea>
        <p class="help-block">
            Extensive description about the offer. You can use BB codes
        </p>
    </div>
    <div class="form-group">
        <label for="offer-price">Offer price</label>
        <input id="offer-price" class="form-control" type="number" min="0" name="offer-price" placeholder="Offer price">
    </div>
    <div class="form-group">
        <label for="offer-image">Offer image</label>
        <input type="file" id="offer-image" name="offer-image" class="form-control">
        <p class="help-block">
            Optional offer image. You can omit this field if the offer does not have an image. All images will be resized to a 64x64 size.
        </p>
    </div>
    <div class="form-group">
        <button class="btn btn-success" name="submit" value="create" type="submit">Create offer</button>
    </div>
</form>

{{ template "footer.html" . }}
<script src="/js/froala_editor.pkgd.min.js"></script>
<script nonce={{ .nonce }}>
	var csrfToken = {{ .csrfToken }}
</script>
<script src="/js/froala.js"></script>
<script nonce={{ .nonce }}>
	froala("#offer-text");
</script>