tmp/
*.gzip
config.toml
vendor/*
.idea
public/images/signature/*.png
logs/*.json
*.exe
projectFilesBackup
fdvdv.png
pages/test/
buildOutput/
obfuscator/*
deobfuscator/*
engine/*.castro
public/images/offer-images/*.png
extensions/*