{{ template "header.html" . }}
<h3>My Paygol payments</h3>
<hr>
{{ if .list }}
<table class="table table-striped">
    <thead class="thead-inverse">
    <tr>
        <th>Transaction</th>
        <th>Price</th>
        <th>Points</th>
        <th>Created At</th>
    </tr>
    </thead>
    <tbody>
    {{ if .list }}
        {{ range $index, $element := .list }}
        <tr>
            <td>
                <a href="{{ url "subtopic" "shop" "paygol" }}">{{ $element.name }}</a>
            </td>
            <td>{{ $element.price }}</td>
            <td>{{ $element.points }}</td>
            <td>
                {{ $element.created.Result }}
            </td>
        </tr>
        {{ end }}
    {{ else }}
    <tr>
        <td colspan="3">No transactions made</td>
    </tr>
    {{ end }}
    </tbody>
</table>
<ul class="pagination pagination-sm">
    {{ if .paginator.prev }}
    <li><a href="{{ url "subtopic" "account" "paygol" }}?page={{ .paginator.firstpage.num }}">First</a></li>
    <li><a href="{{ url "subtopic" "account" "paygol" }}?page={{ .paginator.prevnumber }}">&lt;</a></li>
    {{ end }}
    </li>
    {{ if $.paginator.last }}
    <li><a href="{{ url "subtopic" "account" "paygol" }}?page={{ .paginator.lastnumber }}">&gt;</a></li>
    <li><a href="{{ url "subtopic" "account" "paygol" }}?page={{ .paginator.lastpage.num }}">Last</a></li>
    {{ end }}
</ul>
{{ else }}
<p>No payments made</p>
{{ end }}
{{ template "footer.html" . }}