{{ template "header.html" }}
<h3>Login to your account</h3>
<hr>
{{ if .validationError }}
<div class="alert alert-danger" role="alert">
    <strong>Error!</strong> {{ .validationError }}
</div>
{{ end }}
<form method="POST">
    <div class="form-group">
        <label for="input-character-name">Character name</label>
        <input type="text" class="form-control" id="input-character-name" name="account-name" placeholder="Character name">
        <small class="form-text text-muted">Your character name must only use letters A-Z and spaces</small>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>
{{ template "footer.html" . }} 