</div>
<div class="col-sm-3 sidebar">
    {{ range $index, $element := .widgets }}
    {{ $element }}
    {{ end }}
    <!-- character search -->
</div>
<div class="clearfix"></div>
</div>

</div> <!-- /container -->

<div class="container">
    <div class="footer">
        <h6>
            {{ if isDev }} <b>Development mode</b> | {{ end }}
            Page generated in {{ .microtime }}. Engine by <a href="https://github.com/Raggaer/castro">Castro</a>.
        </h6>
    </div>
</div> <!-- /container -->

<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous">

</script>
<script src="/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
</body>
</html>