</div>
<div class="col-xs-3">
    {{ range $index, $element := widgetList }}
        {{ $element.Result }}
    {{ end }}
    <!-- character search -->
</div>
<div class="clearfix"></div>
</div>

</div> <!-- /container -->

<div class="container">
    <div class="footer">
        <h6>© 2017 {{ serverName }}. All rights reserved. Engine by <a href="http://castro.raggaer.pw">Castro</a>.</h6>
    </div>
</div> <!-- /container -->

<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous">

</script>
<script src="/public/js/bootstrap.min.js"></script>
</body>
</html>