<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/public/css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
	<title>Castro - AAC</title>
</head>

<body>
    <div class="navbar-info">
        <div class="container">
            <h1 class="display-3 crop">{{ serverName }}</h1>
            <small>{{ serverMotd }}</small>
        </div>
    </div>
	<header>
        <nav class="navbar navbar-dark bg-inverse">
            <ul class="nav navbar-nav">
                <div class="container">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url "/" }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community</a>
                    <div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
                        <a class="dropdown-item" href="{{ url "subtopic" "houses" }}">Houses</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                </div>
            </ul>
        </nav>
	</header>
    <div class="main container">
        <div class="row">
            <div class="col-lg-8">