<html>
    <head>
        <title>Castro - Installation</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="/images/favicon.ico">
    
        <link href='https://fonts.googleapis.com/css?family=Simonetta' rel='stylesheet' type='text/css'>
        <link href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
                <div class="titleheader">
                    <h1>
                        <a class="title" href="/">Castro</a>
                    </h1>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="container">
                <div class="box black-box">
                    <div class="clearfix"></div>
                </div>
                <div class="box pattern-box">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3>Installation wizard</h3>
                            <hr>
                            {{ if .Error }}
                            <div class="alert alert-danger" role="alert">
                                <strong>Error!</strong> {{ .Error }}
                            </div>
                            {{ end }}
                            <p>
                                Welcome to the installation wizard. The wizard will guide you through a very simple process where you will be able to setup some Castro features like the SMTP server and the Google reCAPTCHA service
                            </p>
                            <p>
                                These features are optional and you can activate them later
                            </p>
                            <p>
                                Just fill the information below to start using one of the most powerfull and extensible Open Tibia content management system
                            </p>
                            <hr>
                            <form method="POST" action="/install/path">
                                <div class="form-group">
                                    <input type="text" name="path" placeholder="Server path" class="form-control">
                                    <p class="form-text text-muted">
                                        We need your full server folder path. Castro will load all the necessary information from your config.lua file
                                    </p>
                                </div>
                                <div class="form-group">
                                    <input type="number" name="port" placeholder="Website port" class="form-control">
                                    <p class="form-text text-muted">
                                        Port where Castro will listen. You should use port 80 unless you run Castro behind a proxy server like NGINX or Caddy
                                    </p>
                                </div>
                                <p>
                                    Castro will load your config.lua file to retrieve database details, then it will connect to your database and import the needed database tables (if they dont exist already)
                                </p>
                                <p>
                                    Castro will also try to convert your znote or gesior installation
                                </p>
                                <button type="submit" class="btn btn-success">Next step</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>