<html>
    <head>
        <title>Castro - Installation</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="/images/favicon.ico">
    
        <link href='https://fonts.googleapis.com/css?family=Simonetta' rel='stylesheet' type='text/css'>
        <link href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
                <div class="titleheader">
                    <h1>
                        <a class="title" href="/">Castro</a>
                    </h1>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="container">
                <div class="box black-box">
                    <div class="clearfix"></div>
                </div>
                <div class="box pattern-box">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3>Installation wizard</h3>
                            <hr>
                            {{ if .Error }}
                            <div class="alert alert-danger" role="alert">
                                <strong>Error!</strong> {{ .Error }}
                            </div>
                            {{ end }}
                            <p>
                                You can configure your Google reCAPTCHA credentials. reCAPTCHA offers an easy way to stop bots at saturaing your database
                            </p>
                            <p>
                                By default if captcha is enabled it will appear on the registration form, you can use lua bindings to add captcha security to any other form of the website
                            </p>
                            <p>
                                To setup your captcha service head to <a href="https://www.google.com/recaptcha/admin#list">Google reCAPTCHA</a> and create a new application, make sure to select <b>reCAPTCHA v2</b> as your application type. You can also learn how to integreate captchas on Castro by heading to the <a href="https://docs.castroaac.org/docs/lua/captcha">documentation page</a>
                            </p>
                            <hr>
                            <form method="POST" action="/install/captcha">
                                <div class="form-group">
                                    <input type="text" name="public" placeholder="Captcha public key" class="form-control">
                                    <p class="form-text text-muted">
                                        Google reCAPTCHA public key
                                    </p>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="private" placeholder="Captcha private key" class="form-control">
                                    <p class="form-text text-muted">
                                        Google reCAPTCHA private key
                                    </p>
                                </div>
                                <p>
                                    You can change these settings any time on your config.toml file after installation
                                </p>
                                <button type="submit" class="btn btn-success">Next step</button>
                                <a role="button" href="/install/encode" class="btn btn-danger">Skip step</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>