.main {
    margin-top: 40px;
}

.navbar-info {
    padding: 15px;
    background-color: #F5F5F5;
}

.small-info {
    font-size: 12px;
}

.news-box {
    margin-bottom: 35px;
}

.info-panel {
    padding: 20px;
    margin-bottom: 10px;
}

.black {
    background-color: #34383B;
    color: rgba(255, 255, 255, 0.8);
}

.white-hr {
    border: 1px solid rgba(255, 255, 255, 0.8);
}

.light {
    color: #6bb9fd;
}

.light:hover {
    color: #2097ff;
}

.titleheader h3 {
    font-family: Simonetta;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    color: #fff;
}

.col-sm-3.sidebar {
    margin-top: 25px;
}

.thead-inverse {
    background-color: #34383B;
    color: white;
}

.progress {
    margin-bottom: 1px;
    padding: 0px !important;
}

.progress-bar {
    font-size: 9px;
}

.signature {
    display: block;
    margin: 0 auto;
}