{{ template "header.html" . }}
<link href="/css/froala_editor.pkgd.min.css" rel="stylesheet">
<link href="/css/froala_style.min.css" rel="stylesheet">
<h3>Edit shop category</h3>
<hr>
{{ if .validationError }}
<div class="alert alert-danger" role="alert">
    <strong>Error!</strong> {{ .validationError }}
</div>
{{ end }}
<form action="{{ url "subtopic" "admin" "shop" "category" "edit" }}" method="post">
<input type="hidden" name="_csrf" value="{{ .csrfToken }}">
<input type="hidden" name="id" value="{{ .id }}">
<div class="form-group">
    <input type="text" class="form-control" name="title" placeholder="Title" {{ if .title }} value="{{ .title }}"{{ end }}>
</div>
<div class="form-group">
    <textarea id ="category-text" class="form-control" rows="8" name="text" placeholder="Message" spellcheck="true">{{ .text }}</textarea>
</div>
<button type="submit" class="btn btn-primary" name="action" value="add">Submit</button>
<a class="btn btn-warning" href="{{ url "subtopic" "admin" "shop" }}">Cancel</a>
</form>

{{ template "footer.html" . }}
<script src="/js/froala_editor.pkgd.min.js"></script>
<script nonce={{ .nonce }}>
	var csrfToken = {{ .csrfToken }}
</script>
<script src="/js/froala.js"></script>
<script nonce={{ .nonce }}>
	froala("#category-text");
</script>