{{ template "header.html" }}
<h3>Dashboard</h3>
<hr>
{{ if .success }}
<div class="alert alert-success" role="alert">
    <strong>Success!</strong> {{ .success }}
</div>
{{ end }}
<table class="table table-striped">
    <thead class="thead-inverse">
    <tr>
        <th colspan="2">Account information</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>Account type</th>
        {{ if .account.IsPremium }}
        <td>
            Premium account ({{ .account.Premdays }} days remaining)
        </td>
        {{ else }}
        <td>
            Normal account
        </td>
        {{ end }}
    </tr>
    <tr>
        <th>Creation date</th>
        <td>{{ .account.Creation.Result }}</td>
    </tr>
    <tr>
        <th>Last login</th>
        <td>{{ .account.Lastday.Result }}</td>
    </tr>
    <tr>
        <th></th>
        <td>
            <a role="button" href="{{ url " subtopic" "account" "changepassword" }}" class="btn btn-xs btn-primary">
            Change password
            </a>
        </td>
    </tr>
    <tr>
        <th></th>
        <td>
            <a role="button" href="{{ url " subtopic" "account" "changemail" }}" class="btn btn-xs btn-default">
            Change email
            </a>
        </td>
    </tr>
    </tbody>
</table>
<h3>My Characters</h3>
<hr>
<table class="table table-striped">
    <thead class="thead-inverse">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Vocation</th>
        <th>Level</th>
    </tr>
    </thead>
    <tbody>
    {{ range $index, $element := queryResults .list }}
    <tr>
        <th scope="row">{{ $index }}</th>
        <td>
            <a href="{{ url " subtopic" "community" "view" }}?name={{ urlEncode $element.name }}">
            {{ $element.name }}
            </a>
        </td>
        <td>{{ vocation $element.vocation }}</td>
        <td>{{ $element.level }}</td>
    </tr>
    {{ end }}
    </tbody>
</table>
{{ template "footer.html" . }}