{{ template "header.html" }}
<h3>Website logs</h3>
<hr>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
{{ range $index, $element := .logs }}
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading-{{ $index }}">
            <h4 class="panel-title">
                <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ $index }}" aria-expanded="true" aria-controls="collapse-{{ $index }}">
                    {{ $element.time }}
                </a>
            </h4>
        </div>
        <div id="collapse-{{ $index }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{ $index }}">
            <div class="panel-body">
               {{ nl2br $element.msg }}
            </div>
        </div>
    </div>
{{ end }}
</div>
{{ template "footer.html" . }}