{{ template "header.html" }}
<h3>My PayPal payments</h3>
<hr>
{{ if .list }}
<table class="table table-striped">
    <thead class="thead-inverse">
    <tr>
        <th>Package</th>
        <th>Created At</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{ range $index, $element := .list }}
    <tr>
        <td>
            <a href="{{ url "subtopic" "shop" "paypal" }}">{{ $element.name }}</a>
        </td>
        <td>{{ $element.created.Result }}</td>
        <td>
            {{ if not $element.approved }}
                <button class="btn btn-danger btn-xs">Not approved</button>
            {{ else }}
                {{ if not $element.executed }}
                <form method="post">
                    <input type="hidden" name="_csrf" value="{{ $.csrfToken }}">
                    <input type="hidden" name="id" value="{{ $element.id }}">
                    <button type="submit" class="btn btn-success btn-xs">Execute</button>
                </form>
                {{ else }}

                {{ end }}
            {{ end }}
        </td>
    </tr>
    {{ end }}
    </tbody>
</table>
<ul class="pagination pagination-sm">
    {{ if .paginator.prev }}
    <li><a href="{{ url "subtopic" "account" "paypal" }}?page={{ .paginator.firstpage.num }}">First</a></li>
    <li><a href="{{ url "subtopic" "account" "paypal" }}?page={{ .paginator.prevnumber }}">&lt;</a></li>
    {{ end }}
    </li>
    {{ if $.paginator.last }}
    <li><a href="{{ url "subtopic" "account" "paypal" }}?page={{ .paginator.lastnumber }}">&gt;</a></li>
    <li><a href="{{ url "subtopic" "account" "paypal" }}?page={{ .paginator.lastpage.num }}">Last</a></li>
    {{ end }}
</ul>
{{ else }}
<p>No payments made</p>
{{ end }}
{{ template "footer.html" . }}