{{ template "header.html" }}
<h3>Shop</h3>
<hr>
{{ if .error }}
<div class="alert alert-danger" role="alert">
    <strong>Error!</strong> {{ .error }}
</div>
{{ end }}
{{ if .success }}
<div class="alert alert-success" role="alert">
    <strong>Success!</strong> {{ .success }}
</div>
{{ end }}
<p id="shop-overview-text">
    Browse the different categories and see what they offer. You can buy multiple items at once and use a discount code before checking out your cart
</p>

{{ if .categories }}
<ul class="nav nav-tabs" role="tablist">
    {{ range $index, $element := .categories }}
        <li role="presentation" {{ if eq $index 0 }} class="active" {{ end }}>
            <a href="#category-{{ $element.id }}" aria-controls="{{ $element.name }}" role="tab" data-toggle="tab">{{ $element.name }}</a>
        </li>
    {{ end }}
    <li role="presentation" class="pull-right">
        <a href="#checkout" role="tab" aria-controls="checkout" data-toggle="tab">
            <i class="glyphicon glyphicon-shopping-cart"></i> Checkout
        </a>
    </li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="checkout">
        {{ if .cart }}
        <ul class="list-group">
            {{ range $index, $element := .cart }}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-10">
                            <ul>
                                <li>
                                    <b>Offer name</b>: {{ $element.offer.name }}
                                </li>
                                <li>
                                    <b>Offer price</b>: {{ $element.offer.price }} points
                                </li>
                                <li>
                                    <b>Amount</b>: {{ $element.count }}
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-2">
                            <div class="pull-right">
                                <form action="{{ url "subtopic" "shop" "remove" }}" method="post">
                                    <button type="submit" class="btn btn-danger btn-xs">Remove</button>
                                    <input type="hidden" name="_csrf" value="{{ $.csrfToken }}">
                                    <input type="hidden" name="offer" value="{{ $element.offer.name }}">
                                </form>
                            </div>
                        </div>
                    </div>
                </li>
            {{ end }}
        </ul>
        <form method="post" action="{{ url "subtopic" "shop" "checkout" }}">
            <input type="hidden" name="_csrf" value="{{ $.csrfToken }}">
            <button type="submit" class="btn btn-success">Checkout</button>
        </form>
        {{ else }}
        <div class="alert alert-info">
            Your shop-cart is currently empty
        </div>
        {{ end }}
    </div>
    {{ range $index, $element := .categories }}
        <div role="tabpanel" class="tab-pane {{ if eq $index 0 }} active {{ end }}" id="category-{{ $element.id }}">
            <p id="shop-overview-text">
                {{ nl2br $element.parsedDescription }}
            </p>
            {{ if $element.offers }}
                {{ range $index, $element := $element.offers }}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{ $element.name }}
                        </div>
                        <div class="panel-body">
                            <div class="media">
                                <div class="media-left">
                                    <img style="margin-right: 10px;" src="{{ $element.image }}" class="media-object pull-left">
                                </div>
                                <div class="media-body">
                                    <p>{{ nl2br $element.parsedDescription }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <form method="post" action="{{ url "subtopic" "shop" "add" }}">
                                <input type="hidden" name="_csrf" value="{{ $.csrfToken }}">
                                <input type="hidden" name="offer" value="{{ $element.id }}">
                                <button type="submit" class="btn btn-success btn-xs pull-right">Add to cart</button>
                                <button class="btn btn-primary btn-xs">{{ $element.price }} coins</button>
                            </form>
                        </div>
                    </div>
                {{ end }}
            {{ end }}
        </div>
    {{ end }}
</div>
{{ else }}
<p>
    There are currently no shop categories
</p>
{{ end }}
{{ template "footer.html" . }}