{{ template "header.html" }}
<h3>Guild: {{ .guild.guildname }}</h3>
<p>{{ .guild.motd }}</p>
<hr>
{{ if .validationError }}
<div class="alert alert-danger" role="alert">
    <strong>Error!</strong> {{ .validationError }}
</div>
{{ end }}
{{ if .success }}
<div class="alert alert-success" role="alert">
    <strong>Success!</strong> {{ .success }}
</div>
{{ end }}
<table class="table table-striped">
    <thead class="thead-inverse">
        <tr>
            <th colspan="2">Guild information</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Guild name</th>
            <td>{{ .guild.guildname }}</td>
        </tr>
        <tr>
            <th>Creation</th>
            <td>{{ .guild.created.Result }}</td>
        </tr>
        <tr>
            <th>Owner</th>
            <td>
                <a href="{{ url "subtopic" "community" "view" }}?name={{ urlEncode .guild.name }}">{{ .guild.name }}</a>
            </td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead class="thead-inverse">
    <tr>
        <th colspan="2">Guild statistics</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>Member count</th>
        <td>{{ .guild.members }} ({{ .guild.onl }} Online)</td>
    </tr>
    <tr>
        <th>Highest level</th>
        <td>{{ .guild.top }}</td>
    </tr>
    <tr>
        <th>Lowest level</th>
        <td>{{ .guild.low }}</td>
    </tr>
    </tbody>
</table>
<div id="guild-tabs">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#members" aria-controls="members" role="tab" data-toggle="tab">Members</a></li>
        <li role="presentation"><a href="#invitations" aria-controls="invitations" role="tab" data-toggle="tab">Invitations</a></li>
        {{ if .owner }}
        <li role="presentation"><a href="#motd" aria-controls="motd" role="tab" data-toggle="tab">Motd</a></li>
        <li role="presentation"><a href="#ranks" aria-controls="ranks" role="tab" data-toggle="tab">Ranks</a></li>
        <li role="presentation"><a href="#invite" aria-controls="invite" role="tab" data-toggle="tab">Invite</a></li>
        {{ end }}
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="members">
            <table class="table table-striped">
                <thead class="thead-inverse">
                    <tr>
                        <th>Name</th>
                        <th>Level</th>
                        <th>Rank</th>
                    </tr>
                </thead>
                <tbody>
                {{ if .memberlist }}
                    {{ range $index, $element := .memberlist }}
                        <tr>
                            <td>
                                <a href="{{ url "subtopic" "community" "view" }}?name={{ urlEncode $element.name }}">{{ $element.name }}</a>
                            </td>
                            <td>{{ $element.level }}</td>
                            <td>{{ $element.rank }}</td>
                        </tr>
                    {{ end }}
                {{ else }}
                <tr>
                    <td colspan="3">
                        There are no members
                    </td>
                </tr>
                {{ end }}
                </tbody>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="invitations">
            <table class="table table-striped">
                <thead class="thead-inverse">
                    <tr>
                        <th>Name</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {{ if .invitations }}
                    {{ range $index, $element := .invitations }}
                    <tr>
                        <td>{{ $element.name }}</td>
                        {{ if $element.m }}
                        <td>
                            <form action="{{ url "subtopic" "community" "guilds" "invite" "accept" }}" method="POST">
                                <input type="hidden" name="guild-name" value="{{ $.guild.guildname }}">
                                <input type="hidden" name="_csrf" value="{{ $.csrfToken }}">
                                <input type="hidden" name="character-name" value="{{ $element.name }}">
                                <button class="btn btn-success btn-xs">Accept</button>
                            </form>
                        </td>
                        <td>
                            <form action="{{ url "subtopic" "community" "guilds" "invite" "decline" }}" method="POST">
                                <input type="hidden" name="guild-name" value="{{ $.guild.guildname }}">
                                <input type="hidden" name="_csrf" value="{{ $.csrfToken }}">
                                <input type="hidden" name="character-name" value="{{ $element.name }}">
                                <button class="btn btn-danger btn-xs">Decline</button>
                            </form>
                        </td>
                        {{ else }}
                        <td></td>
                        <td></td>
                        {{ end }}
                    </tr>
                    {{ end }}
                {{ else }}
                <tr>
                    <td colspan="2">No invitations made</td>
                </tr>
                {{ end }}
                </tbody>
            </table>
        </div>
        {{ if .owner }}
        <div role="tabpanel" class="tab-pane" id="motd">
            <form action="{{ url "subtopic" "community" "guilds" "motd" }}" method="POST">
            <input type="hidden" name="guild-name" value="{{ .guild.guildname }}">
            <input type="hidden" name="_csrf" value="{{ .csrfToken }}">
            <div class="form-group">
                <label for="guild-motd">Guild motd</label>
                <textarea class="form-control" name="guild-motd" id="guild-motd">{{ .guild.motd }}</textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
            </form>
        </div>
        <div role="tabpanel" class="tab-pane" id="ranks">
            <form action="{{ url "subtopic" "community" "guilds" "rank" }}" method="POST">
                <input type="hidden" name="guild-name" value="{{ .guild.guildname }}">
                <input type="hidden" name="_csrf" value="{{ .csrfToken }}">
                {{ range $index, $element := .ranks }}
                    <div class="form-group">
                        <label for="rank-{{ $index }}">Rank level {{ $element.level }}</label>
                        <input name="rank-{{ $element.level }}" class="form-control" placeholder="Rank level {{ $element.level }}" type="text" value="{{ $element.name }}">
                    </div>
                {{ end }}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
        <div role="tabpanel" class="tab-pane" id="invite">
            <form action="{{ url "subtopic" "community" "guilds" "invite" }}" method="POST">
                <input type="hidden" name="guild-name" value="{{ .guild.guildname }}">
                <input type="hidden" name="_csrf" value="{{ .csrfToken }}">
                <div class="form-group">
                    <label for="invite-name">Character name</label>
                    <input name="invite-name" class="form-control" id="invite-name" placeholder="Character name">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Invite</button>
                </div>
            </form>
        </div>
        {{ end }}
    </div>
</div>
{{ template "footer.html" . }}