{{ template "header.html" }}
<h3>Shop offers for: {{ .category.name }}</h3>
<hr>
<a role="button" href="{{ url "subtopic" "admin" "shop" "offer" "new" }}?categoryId={{ .category.id }}" class="btn btn-primary">New offer</a>
<hr>
{{ if .success }}
<div class="alert alert-success" role="alert">
    <strong>Success!</strong> {{ .success }}
</div>
{{ end }}
<div class="panel panel-default">
    <div class="panel-body">
        <p>
            {{ nl2br .category.description }}
        </p>
    </div>
</div>
{{ if .list }}
    <table class="table table-striped">
        <thead class="thead-inverse">
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th colspan="2">Action</th>
            </tr>
        </thead>
        <tbody>
            {{ range $index, $element := .list }}
            <tr>
                <td>{{ $element.name }}</td>
                <td>{{ $element.price }}</td>
                <td>
                    <a role="button" href="{{ url "subtopic" "admin" "shop" "offer" "edit" }}?id={{ $element.id }}" class="btn btn-primary btn-xs">Edit</a>
                </td>
                <td>
                    <a role="button" href="{{ url "subtopic" "admin" "shop" "offer" "edit" }}?id={{ $element.id }}" class="btn btn-danger btn-xs">Edit</a>
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>
    {{ else }}
    <p>No offers for this category</p>
{{ end }}
{{ template "footer.html" . }}