{{ template "header.html" }}
<h3>House list</h3>
<hr>
<form method="GET">
    <div class="form-group">
        <select name="town" class="form-control" id="select-town">
            {{ range $index, $element := .towns }}
            <option value="{{ $element.ID }}">{{ $element.Name }}</option>
            {{ end }}
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-block btn-primary">Search</button>
    </div>
</form>
<table class="table table-striped">
    <thead class="thead-inverse">
        <tr>
            <th>Name</th>
            <th>Size</th>
        </tr>
    </thead>
    <tbody>
        {{ range $index, $element := .list }}
        <tr>
            <td>
                <a href="{{ url " subtopic" "house" }}?id={{ $element.ID }}">{{ $element.Name }}</a>
            </td>
            <td>{{ $element.Size }}</td>
        </tr>
        {{ end }}
    </tbody>
</table>
{{ template "footer.html" . }} 