{{ template "header.html" }}
<h3>Forum</h3>
<hr>
{{ if not .list }}
<p>No forum categories</p>
{{ else }}
<table class="table table-striped">
    <thead class="thead-inverse">
        <tr>
            <th>Title</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{ range $index, $element := .list }}
        <tr>
            <td>
                <p><a href="{{ url "subtopic" "forums" "category" }}?forum={{ urlEncode $element.title }}">{{ $element.title }}</a></p>
                <p>{{ $element.description }}</p>
            </td>
            <td>
                {{ if $element.count }}
                Posts: {{ $element.count.c }}
                {{ else }}
                No posts
                {{ end }}
            </td>
            <td>
                {{ if $element.last }}
                <p><a href="#">{{ $element.last.title }}</a></p>
                <p>By <a class="light" href="{{ url "subtopic" "community" "view" }}?name={{ urlEncode $element.last.name }}">{{ $element.last.name }}</a></p>
                <p>{{ $element.last.created.Result }}</p>
                {{ else }}
                No posts
                {{ end }}
            </td>
        </tr>
        {{ end }}
    </tbody>
</table>
{{ end }}
{{ template "footer.html" . }}