{{ template "header.html" . }}
<h3>Extension: {{ .info.Name }}</h3>
<hr>
{{ if .error }}
<div class="alert alert-danger" role="alert">
    <strong>Error!</strong> {{ .error }}
</div>
{{ end }}
{{ if .success }}
<div class="alert alert-success" role="alert">
    <strong>Success!</strong> {{ .success }}
</div>
{{ end }}
<table class="table table-striped table-hover">
    <thead class="thead-inverse">
        <tr>
            <th colspan="2">Plugin information</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Name</th>
            <td>{{ .info.Name }}</td>
        </tr>
        <tr>
            <th>Author</th>
            <td>
                <a href="{{ url "subtopic" "admin" "extensions" }}?author={{ .info.Author }}">{{ .info.AuthorName }}</a>
            </td>
        </tr>
        <tr>
            <th>Type</th>
            <td>
                <b>
                    {{ if .info.Market }}
                        <a href="http://opentibia.net">OpenTibia market</a>
                    {{ else }}
                        {{ if .info.Paid }}
                        Paid
                        {{ else }}
                        Free
                        {{ end }}
                        -
                        {{ .info.Type }} script
                    {{ end }}
                </b>
            </td>
        </tr>
        <tr>
            <th>Upload date</th>
            <td>{{ .info.CreatedAt }}</td>
        </tr>
        <tr>
            <th>Views and downloads</th>
            <td>{{ .info.Views }} - {{ .info.Downloads }}</td>
        </tr>
    </tbody>
</table>
<p>{{ nl2br .info.Description }}</p>
<hr>
<div class="row">
    <div class="col-md-2">
        {{ if .info.Market }}
        <a role="button" href="{{ .info.URL }}" class="btn btn-info">Download</a>
        {{ else }}
            {{ if .info.Paid }}
            <a role="button" href="#" class="btn btn-info">Purchase</a>
            {{ else }}
            <a role="button" href="{{ url "subtopic" "admin" "extensions" "download" }}?id={{ .info.ID }}" class="btn btn-success">
                <i class="fa fa-cloud-download" aria-hidden="true"></i> Download
            </a>
            {{ end }}
        {{ end }}
    </div>
    <div class="col-md-2 pull-right">
        <a role="button" href="{{ url "subtopic" "admin" "extensions" }}" class="btn btn-danger">Back</a>
    </div>
</div>
{{ template "footer.html" . }}