{{ template "header.html" }}
<h3>Buypoints using PayPal</h3>
<hr>
{{ if .validationError }}
<div class="alert alert-danger" role="alert">
    <strong>Error!</strong> {{ .validationError }}
</div>
{{ end }}
<table class="table table-striped">
    <thead class="thead-inverse">
    <tr>
        <th>Package</th>
        <th>Price</th>
        <th>Points</th>
    </tr>
    </thead>
    <tbody>
    {{ range $index, $package := .list }}
    <tr>
        <td><a href="#">{{ $package.name }}</a></td>
        <td>{{ $package.price }} {{ $package.currency }}</td>
        <td>{{ $package.points }}</td>
    </tr>
    {{ end }}
    </tbody>
</table>
{{ template "footer.html" . }}