{{ template "header.html" }}
<h3>New article</h3>
<hr>
{{ if .validationError }}
<div class="alert alert-danger" role="alert">
    <strong>Error!</strong> {{ .validationError }}
</div>
{{ end }}
<form action="{{ url "subtopic" "admin" "articles" "new" }}" method="post">
	<input type="hidden" name="_csrf" value="{{ .csrfToken }}">
	<div class="form-group">
		<input type="text" class="form-control" name="title" placeholder="Title" {{ if .title }} value="{{ .title }}"{{ end }}>
	</div>
	<div class="form-group">
		<textarea class="form-control" rows="8" name="text" placeholder="Message" spellcheck="true">{{ .text }}</textarea>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
	<a class="btn btn-warning" href="{{ url "subtopic" "admin" "articles" "list" }}">Cancel</a>
</form>
{{ template "footer.html" . }}
