{{ template "header.html" . }}
<h3>Change account password</h3>
<hr>
{{ if .validationError }}
<div class="alert alert-danger" role="alert">
    <strong>Error!</strong> {{ .validationError }}
</div>
{{ end }}
{{ if .success }}
<div class="alert alert-success" role="alert">
    <strong>Success!</strong> {{ .success }}
</div>
{{ end }}
<form method="POST">
    <input type="hidden" name="_csrf" value="{{ .csrfToken }}">
    <div class="form-group">
        <label for="input-account-password">Current password</label>
        <input type="password" class="form-control" id="input-account-password" name="account-password"
               placeholder="Your current password">
    </div>
    <div class="form-group">
        <label for="input-account-new-password">New password</label>
        <input type="password" class="form-control" id="input-account-new-password" name="new-password"
               placeholder="New password">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Change</button>
    </div>
</form>
{{ template "footer.html" . }} 