</div>
<div class="col-md-3">
    {{ range $index, $element := widgetList }}
        {{ $element.Result }}
    {{ end }}
</div>
</div>
</div>
<footer class="footer">
    <div class="container">
        <span class="text-muted">
            <b><a href="https://github.com/Raggaer/castro">Castro AAC</a></b> - Page generated in  {{ .microtime }}
        </span>
    </div>
</footer>
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
</body>

</html>