<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/public/css/style.css">
	<title>Castro - AAC</title>
</head>

<body>
	<header>
		<div class="container">
			<h1>
                Castro - Open Tibia automatic account creator
            </h1>
		</div>
	</header>
	<nav>
		<div class="container">
			<ul>
				<li>
					<a href="/">News</a>
				</li>
                <li>
					<a href="">Home</a>
				</li>
                <li>
					<a href="">Home</a>
				</li>
			</ul>
		</div>
	</nav>
    <div class="container">