{{ template "header.html" }}
<h3>
    Extensions
    {{ if .author }}
    {{ $author := index .list.Data 0 }}
    made by {{ $author.AuthorName }}
    {{ end }}
</h3>
<hr>
{{ if .error }}
<div class="alert alert-danger" role="alert">
    <strong>Error!</strong> {{ .error }}
</div>
{{ end }}
{{ if .list.Error }}
<div class="alert alert-danger" role="alert">
    <strong>Error!</strong> {{ .list.Message }}
</div>
{{ else }}

            <p>
                Navigate through the extensions. You can get more information about a given extension, download or even subscribe.
            </p>
            <p>
                When subscribing to an extension Castro will check for updates when initiating
            </p>
            <hr>
            {{ if .list.Data }}
            <table class="table table-striped table-hover">
                <thead class="thead-inverse">
                <tr>
                    <th>Name</th>
                    <th>Author</th>
                    <th>Views</th>
                    <th>Downloads</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {{ range $index, $element := .list.Data }}
                <tr>
                    <td>{{ $element.Name }}</td>
                    <td><a href="{{ url "subtopic" "admin" "extensions" }}?author={{ $element.Author }}">{{ $element.AuthorName }}</a></td>
                    <td>{{ $element.Views }}</td>
                    <td>{{ $element.Downloads }}</td>
                    <td>
                        <a href="{{ url "subtopic" "admin" "extensions" "view" }}?id={{ $element.ID }}" role="button" class="btn btn-info btn-xs">View</a>
                    </td>
                </tr>
                {{ end }}
                </tbody>
            </table>
            <ul class="pagination pagination-sm">
                {{ if .paginator.prev }}
                <li><a href="{{ url "subtopic" "admin" "extensions" }}?page={{ .paginator.firstpage.num }}">First</a></li>
                <li><a href="{{ url "subtopic" "admin" "extensions" }}?page={{ .paginator.prevnumber }}">&lt;</a></li>
                {{ end }}
                </li>
                {{ if $.paginator.last }}
                <li><a href="{{ url "subtopic" "admin" "extensions" }}?page={{ .paginator.lastnumber }}">&gt;</a></li>
                <li><a href="{{ url "subtopic" "admin" "extensions" }}?page={{ .paginator.lastpage.num }}">Last</a></li>
                {{ end }}
            </ul>
            {{ else }}
            <p>
                No plugins
            </p>
            {{ end }}

{{ end }}
{{ template "footer.html" . }}